@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'HansonBold';
    src: url(Fonts/HansonBold.otf)
}

@font-face {
    font-family: 'RadioGrotesk';
    src: url(Fonts/RadioGrotesk.otf)
}

@font-face {
    font-family: 'KawinganBold';
    src: url(Fonts/KawinganBold.otf)
}

@font-face {
    font-family: 'KawinganRegular';
    src: url(Fonts/KawinganRegular.otf)
}
